<section id="add">
<form action="/employees/create" method="post">
  <p><%= @options.get_message("enter_employee_first") %></p>
  <input type="textbox" name="first_name"></br>
  <p><%= @options.get_message("enter_employee_last") %></p>
  <input type="textbox" name="last_name"></br>
  <p><%= @options.get_message("enter_employee_username") %></p>
  <input type="textbox" name="username"></br>
  <p><%= @options.get_message("enter_employee_type") %></p>
    <p>Admin</p>
        <input type="radio" name="employee_type" value="admin"/>
      <p>Non-Admin</p>
        <input type="radio" name="employee_type" value="non-admin"/></br>
  <input type="submit" class="submit-button">
  <% if @success == true %>
    <h3 class ="client_success"><%= @message %></h3>
  <% else %>
    <h3 class ="client_success"><%= @message %></h3>
  <% end %>
</form>
</section>