<article class="welcome" >
  <% if @time_sheet.empty? %>
  <p><%= @options.get_message(:no_time_to_display) %></p>
   <% end %>
    <% @time_sheet.each do |timesheet| %>
      <p>Username: <%= timesheet.username %> | Project date: <%= timesheet.date %> </p>
      <p>Hours: <%= timesheet.hours %> hours | Project: <%= timesheet.project_type %></p>
      <% if timesheet.project_type == "billable" %>
        <p>Client: <%= timesheet.client %></p>
      <% end %>
      <br>
  <% end %>
  <br>
   <a href = '/login' class = "back">Home</a>
</article>