<section id="add">
<form action="/timesheets/create" method="post">
  <p><%= @options.get_message("username_prompt") %></p>
  <input type="textbox" name="username"></br>
  <p><%= @options.get_message("enter_date") %></p>
  <input type="textbox" name="date"></br>
  <p><%= @options.get_message("enter_hours") %></p>
    <input type="textbox" name="hours"></br>
  <p><%= @options.get_message("enter_billing_type") %></p>
      <p>PTO</p>
        <input type="radio" name="project_type" value="pto"/>
      <p>Billable</p>
        <input type="radio" name="project_type" value="billable"/>
      <p>Non-Billable</p>
        <input type="radio" name="project_type" value="non-billable" /></br>
  <p><%= @options.get_message("enter_client_name") %></p>
  <select class="client_options">b
     <% @clients.each do |client| %>
      <option name ="client" value=<%= client.name %>><%= client.name %></option>
    <% end %>
  </select></br>
  <input type="submit" class="submit-button">
  <% if @success == true %>
    <h3 class ="client_success"> <%= @message %></h3>
  <% else %>
    <h3 class ="client_success"> <%= @message %></h3>
  <% end %>
</form>
</section>